In [1]:
import pandas as pd

In [2]:
# Load data from xlsx
df_1 = pd.read_excel("../../data/protein_inter/GSE102901_TableS1.xlsx", sheet_name=None)
# df_2 = pd.read_excel("./data/protein_inter/GSE102901_TableS4.xlsx", sheet_name=None)

# Select data from sheet 2 
tmp = df_1["Sheet2"][["id1", "id2", "pos1", "mut1", "pos2", "mut2", "d_mean", "epi"]]

# Only keep the fitness and epistasis data  
# new_table = tmp[["id1", "id2", "epi"]]
# new_table.to_csv("../data/protein_inter/tables1_epi.csv", index=False, header=False)
# new_table = tmp[["id1", "id2", "d_mean"]]
# new_table.to_csv("../data/protein_inter/tables1.csv", index=False, header=False)

/home/alexandre/miniconda3/envs/dlim_env/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/home/alexandre/miniconda3/envs/dlim_env/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
df_1['Sheet2']

,id1,id2,pos1,pos2,wt1,wt2,mut1,mut2,hd1,hd2,...,s1_mean,s2_mean,epi1,epi2,epi3,epi,p,fdr,fdrsd,hit
0,1aA,1aA,1,1,T,I,A,A,1,2,...,1.019345,0.938943,-0.042135,-0.076621,-0.052339,-0.057031,0.030690,0.217108,0.004511,0.0
1,1aA,1aD,1,1,T,I,A,D,1,2,...,1.019345,0.938709,-0.054132,-0.002190,0.002423,-0.017966,0.426183,0.739068,0.002521,0.0
2,1aA,1aG,1,1,T,I,A,G,1,2,...,1.019345,0.918278,-0.002279,-0.025399,-0.021240,-0.016306,0.149000,0.384745,0.003123,0.0
3,1aA,1aH,1,1,T,I,A,H,1,2,...,1.019345,0.928834,-0.032355,-0.002110,-0.079923,-0.038129,0.234290,0.503410,0.002947,0.0
4,1aA,1aM,1,1,T,I,A,M,1,1,...,1.019345,0.949532,-0.021089,-0.036943,-0.001174,-0.019735,0.196739,0.450635,0.003018,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107620,3aW,2gA,15,14,K,Q,W,A,2,2,...,NaN,0.943402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107621,3aW,3bR,15,16,K,S,W,R,2,2,...,NaN,1.029358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107622,3aW,3fT,15,20,K,S,W,T,2,1,...,NaN,0.986265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107623,3aW,4gN,15,28,K,Q,W,N,2,2,...,NaN,0.931202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107624,3aW,5bF,15,30,K,A,W,F,2,3,...,NaN,0.958282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# preprocessing for protein 
len_gen1 = tmp['pos1'].max() 

tmp['mut1_sub'] = df_1['Sheet2']['wt1'].astype(str) + df_1['Sheet2']['pos1'].astype(str) + df_1['Sheet2']['mut1'].astype(str)
tmp['pos2_ext'] = df_1['Sheet2']['pos2'] + len_gen1
tmp['mut2_sub'] = df_1['Sheet2']['wt2'].astype(str) + tmp['pos2_ext'].astype(str) + df_1['Sheet2']['mut2'].astype(str)
tmp['substition'] = tmp['mut1_sub'] + ':' + tmp['mut2_sub']
tmp

/tmp/ipykernel_119800/878677617.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['mut1_sub'] = df_1['Sheet2']['wt1'].astype(str) + df_1['Sheet2']['pos1'].astype(str) + df_1['Sheet2']['mut1'].astype(str)
/tmp/ipykernel_119800/878677617.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['pos2_ext'] = df_1['Sheet2']['pos2'] + len_gen1
/tmp/ipykernel_119800/878677617.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['mut2_sub'] = df_1['Sheet2']['wt2'].astype(str) + tmp['pos2_ext'].astype(str) + df_1['Sheet2']['mut2'].astype(str)
/tmp/ipykernel_119800/878677617.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['substition'] = tmp['mut1_sub'] + ':' + tmp['mut2_sub']

,id1,id2,pos1,mut1,pos2,mut2,d_mean,epi,mut1_sub,pos2_ext,mut2_sub,substition
0,1aA,1aA,1,A,1,A,0.910027,-0.057031,T1A,33,I33A,T1A:I33A
1,1aA,1aD,1,A,1,D,0.948788,-0.017966,T1A,33,I33D,T1A:I33D
2,1aA,1aG,1,A,1,G,0.932700,-0.016306,T1A,33,I33G,T1A:I33G
3,1aA,1aH,1,A,1,H,0.919939,-0.038129,T1A,33,I33H,T1A:I33H
4,1aA,1aM,1,A,1,M,0.956397,-0.019735,T1A,33,I33M,T1A:I33M
...,...,...,...,...,...,...,...,...,...,...,...,...
107620,3aW,2gA,15,W,14,A,0.977819,NaN,K15W,46,Q46A,K15W:Q46A
107621,3aW,3bR,15,W,16,R,0.454069,NaN,K15W,48,S48R,K15W:S48R
107622,3aW,3fT,15,W,20,T,0.691040,NaN,K15W,52,S52T,K15W:S52T
107623,3aW,4gN,15,W,28,N,0.540184,NaN,K15W,60,Q60N,K15W:Q60N
107624,3aW,5bF,15,W,30,F,0.790079,NaN,K15W,62,A62F,K15W:A62F

In [5]:
fos_widetype = [[] for el in range(len_gen1)]
for mut, pos in zip(df_1['Sheet2']['wt1'],df_1['Sheet2']['pos1']): 
    fos_widetype[(pos-1)] = mut
fos_widetype

jun_widetype = [[] for el in range(len_gen1)]
for mut, pos in zip(df_1['Sheet2']['wt2'],df_1['Sheet2']['pos2']): 
    jun_widetype[(pos-1)] = mut
jun_widetype

widetype = fos_widetype + jun_widetype
widetype = ''.join(widetype)
print(widetype)

TDTLQAETDQLEDEKSALQTEIANLLKEKEKLIARLEEKVKTLKAQNSELASTANMLREQVAQL

In [6]:
def func_seq(pos1, mut1, pos2, mut2):
    seq = list(widetype)
    seq[pos1-1] = mut1
    seq[pos2-1 + len_gen1] = mut2
    return ''.join(seq)
tmp['x'] = tmp.apply(lambda row: func_seq(row['pos1'], row['mut1'], row['pos2'], row['mut2']), axis = 1)

/tmp/ipykernel_119800/664501288.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['x'] = tmp.apply(lambda row: func_seq(row['pos1'], row['mut1'], row['pos2'], row['mut2']), axis = 1)

In [7]:
df = tmp[['x', 'epi']]
df.columns = ['x', 'y']
df = df.dropna()
df.to_csv('../../data/protein_inter/protein_mevv_epi.csv', index =None)
df

                                                        x         y
0       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLAARLEEKVKTLKAQ... -0.057031
1       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLDARLEEKVKTLKAQ... -0.017966
2       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLGARLEEKVKTLKAQ... -0.016306
3       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLHARLEEKVKTLKAQ... -0.038129
4       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLMARLEEKVKTLKAQ... -0.019735
...                                                   ...       ...
107613  TDTLQAETDQLEDEKSALQTEIANLLKEKEKYIARLEEKVKTLKAQ...  0.038074
107614  TDTLQAETDQLEDEKSALQTEIANLLKEKEKYIARLEEKVKTLKAQ...  0.022569
107615  TDTLQAETDQLEDEKSALQTEIANLLKEKEKYIARLEEKVKTLKAQ... -0.019270
107616  TDTLQAETDQLEDEKSALQTEIANLLKEKEKYIARLEEKVKTLKAQ... -0.153714
107617  TDTLQAETDQLEDEKSALQTEIANLLKEKEKYIARLEEKVKTLKAQ... -0.116722

[107618 rows x 2 columns]

In [8]:
df = tmp[['x', 'd_mean']]
df.columns = ['x', 'y']
df = df.dropna()
df.to_csv('../../data/protein_inter/protein_mevv_fitness.csv', index =None)
df

                                                        x         y
0       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLAARLEEKVKTLKAQ...  0.910027
1       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLDARLEEKVKTLKAQ...  0.948788
2       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLGARLEEKVKTLKAQ...  0.932700
3       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLHARLEEKVKTLKAQ...  0.919939
4       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLMARLEEKVKTLKAQ...  0.956397
...                                                   ...       ...
107620  TDTLQAETDQLEDEWSALQTEIANLLKEKEKLIARLEEKVKTLKAA...  0.977819
107621  TDTLQAETDQLEDEWSALQTEIANLLKEKEKLIARLEEKVKTLKAQ...  0.454069
107622  TDTLQAETDQLEDEWSALQTEIANLLKEKEKLIARLEEKVKTLKAQ...  0.691040
107623  TDTLQAETDQLEDEWSALQTEIANLLKEKEKLIARLEEKVKTLKAQ...  0.540184
107624  TDTLQAETDQLEDEWSALQTEIANLLKEKEKLIARLEEKVKTLKAQ...  0.790079

[107625 rows x 2 columns]

In [9]:
import pandas as pd 
data_path = '../../data/protein_inter/protein_mevv_fitness.csv'
sep = ','
data_df = pd.read_csv(data_path, sep=sep)
data_df

                                                        x         y
0       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLAARLEEKVKTLKAQ...  0.910027
1       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLDARLEEKVKTLKAQ...  0.948788
2       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLGARLEEKVKTLKAQ...  0.932700
3       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLHARLEEKVKTLKAQ...  0.919939
4       ADTLQAETDQLEDEKSALQTEIANLLKEKEKLMARLEEKVKTLKAQ...  0.956397
...                                                   ...       ...
107620  TDTLQAETDQLEDEWSALQTEIANLLKEKEKLIARLEEKVKTLKAA...  0.977819
107621  TDTLQAETDQLEDEWSALQTEIANLLKEKEKLIARLEEKVKTLKAQ...  0.454069
107622  TDTLQAETDQLEDEWSALQTEIANLLKEKEKLIARLEEKVKTLKAQ...  0.691040
107623  TDTLQAETDQLEDEWSALQTEIANLLKEKEKLIARLEEKVKTLKAQ...  0.540184
107624  TDTLQAETDQLEDEWSALQTEIANLLKEKEKLIARLEEKVKTLKAQ...  0.790079

[107625 rows x 2 columns]

In [10]:
import numpy as np

# Attempt to use numpy.bool
a = np.array([True, False], dtype=np.bool)
print(a)

[ True False]